header button{
    -webkit-appearance: none;
    background: none;
    outline: none;
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

header button span{
    width: 100%;
    border: 2px solid #6795c9;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(0) translate(-50%,-50%);
            transform: rotate(0) translate(-50%,-50%);
    z-index: -1;

}

header button span:after{
    content: '';
    width: 100%;
    position: absolute;
    right: -2px;
    border-radius: 15px;
    border: 2px solid #6795c9;
    top: -10px;
    transition: all .5s;

}

header button span:before{

    content: '';
    width: 100%;
    position: absolute;
    right: -2px;
    border: 2px solid #6795c9;
    top: 6px;
    border-radius: 15px;
    transition: all .5s;

}
ul.nav{
    position: absolute;
    list-style: none;
    text-align: right;
    right: 1px;
    top: 24px;
    color: #000;
    font-size: 16px;
    display: none;
}
ul.nav li {
    display: inline-block;
    margin-right:-1px;
}
ul.nav li a{
    padding: 40px 10px;
    text-decoration: none;
    color: black;
}

ul.nav li a:hover{
    background: rgba(91,159,224,0.8);
    color: white;
}

ul.nav li a.active{
    background: #5b9fe0;
    color: white;

}header{
    position: fixed;
    width: 100%;
    height:99px;
    background: white;
    border-bottom: 2px solid #5b9fe0;
    top: 0px;
    z-index: 5;
}

header img {
    position: absolute;
    height: 80px;
    left: 40px;
    top: 10px;
}


header.full_screen button{
    display: none;

}

header.full_screen ul.nav{

    display: block;

}

header.mobileMenu {
    position: fixed;
    height: 100%;

    background-color: rgba(253,253,253,.89)

}

header.mobileMenu button.active {


}

header.mobileMenu button.active span{

    outline: none;
    border-color: transparent ;

}

header.mobileMenu button.active span:before {


    -webkit-transform: translateY(-9px) rotate(-45deg);


            transform: translateY(-9px) rotate(-45deg);

}

header.mobileMenu button.active span:after{


    -webkit-transform: translateY(7px) rotate(45deg);


            transform: translateY(7px) rotate(45deg);

}


header.mobileMenu ul.nav {

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    line-height: 50px;
    padding: 0;
    text-align: center;

}

header.mobileMenu ul.nav li{

    font-size:18px;

    display: block;
}

header.mobileMenu ul.nav a{

    padding:10px;
    background: none;
    color: black;

}

header.mobileMenu ul.nav a:hover{

    color: #6795c9;
}aside .type_bar{
    margin: 0px;

    width: 215px;

    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;

}

aside .type_bar p {
    position: relative;
    width: 200px;
    border: 1px solid #d3d3d3;
    padding: 5px;

}

aside .type_bar p:after, aside .type_bar p:before{
    content: "";
    width: 0;
    height: 0;

    right: 10px;
    margin-top: -6px;
}

aside .type_bar p:after{
    position: absolute;
    top: 21px;

    border: 4px solid transparent;
    border-top: 8px solid #000;
}

aside .type_bar p:before{

    position: absolute;
    bottom: 17px;

    border: 4px solid transparent;
    border-bottom: 8px solid #000;

}

aside .type_bar ul.products_types{

    position: absolute;
    visibility: hidden;
    z-index: 2;
    top: 145px;
    left: -40px;
    display: block;

}
aside .type_bar ul.products_types.show{
    visibility: visible;
}

aside .type_bar ul.products_types:hover{
    visibility: visible;
}
aside .type_bar ul.products_types li{
    width: 200px;
    padding: 5px;
    list-style: none;
    background: #fff;
    display: list-item;

    border: 1px solid #d3d3d3;
    border-top: none;


}
aside .type_bar ul.products_types li:hover{

    background: #d3d3d3;

}
input.priceNav{
    -webkit-appearance: textfield;
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    font-size: 16px;
}

.price_nav_bar{

    width: 215px;
    padding-bottom: 10px;

}
.busket_info {
    text-align: center;
    margin-top: 20px;
    padding: 5px 10px;
    width: 190px;
    font-size: 18px;
    border: 1px solid #d3d3d3;
}

.busket_info button{

    background-color: #4682b4;
    color: #fff;
    cursor: pointer;
    padding: 9px 54px;
    border: 1px solid #fff;
    font-size: 16px;
    display: none;

}

.busket_info .with{
    border: 1px solid #dfc766;
    padding: 5px 20px;
    background: #f0ebcf
}

.busket_info .with,.busket_info .sum{
    display: none;
}

.busket_info p.empty{

    padding: 10px 40px;
    margin-top: 0;
    font-size: 16px;
    border: 1px solid #d3d3d3;
    display: block;

}

.busket_info.active p.empty {

    display: none;
}
.busket_info.active button,.busket_info.active .with,.busket_info.active .sum{

    display: block;

}aside {

    position: fixed;
    width: 200px;
    margin-left: 20px;
    padding-right: 50px;
    border-right: 1px solid #d3d3d3;
    top:120px;

}.item{
    width: 265px;
    margin: 5px;
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #d3d3d3;
    z-index: 2;
    box-sizing: border-box;
}
.item:hover{
    border: 4px solid #5b9fe0;
}
.item h3{

    font-size: 14px;
}

.item img{
    width: 100%;
}

.item span{
    border: 1px solid #dfc766;
    padding: 5px 20px;
    background: #f0ebcf;
}

.item button {
    -webkit-appearance: none;
    font-size: 16px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    color: #fff;
    display: none;
}
.item button.more{
    border: 1px solid #fff;
    background-color: #4682b4;
    padding: 6px 30px;
}

.item button.in_basket{

    background: #199e5a;
    padding: 6px 39px;
    border: none;

}

.item button.in_basket.active, .item button.more.active{
    display: inline;
}
article{

    min-height: 450px;
    padding-left: 50px;
    margin-left: 270px;
    margin-top:120px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    overflow-x: scroll;
    border-left: 1px solid #d3d3d3;

}.modal_page{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: rgba(0,0,0,.8);

}




.header_content_page{
    padding: 0;
    position: relative;
    border-bottom: 1px solid #d3d3d3;
}

.header_content_page button.close{
    -webkit-appearance: none;
    background: none;
    border:none;
    position: absolute;
    right: 0;
    top: -10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
.header_content_page button.close:hover{
    background: #5b9fe0;
    color: white;
}.content_page{

    border: 4px solid #5b9fe0;
    padding: 0 10px 10px;
    font-size: 16px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 90%;
    max-width: 700px;
}

.main_content_page .info{
    vertical-align: top;
    width: 60%;
    display: inline-block;
    padding: 10px;
    line-height: 22px;
    text-align: left;

}

.main_content_page .side_bar_content_page{
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 35%;
}

.main_content_page .side_bar_content_page img{
    width: 80%;
    margin-bottom: 5px;
}

.main_content_page .side_bar_content_page span.price {

    border: 1px solid #dfc766;
    padding: 5px 10px;
    background: #f0ebcf;
    margin: auto auto 10px;
    width: 57px;
    font-size: 18px;

}
.main_content_page .side_bar_content_page input{
    width: 30px;
    margin-left: 10px;
    font-size: 16px;
    padding: 6px;
    text-align: center;
}

.main_content_page .side_bar_content_page button.in_basket{

    background: #199e5a;
    padding: 6px 39px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    font-size: 16px;
    margin-top: 20px;
    outline: none;

}

.main_content_page .side_bar_content_page button.delete{

    outline: 0;
    font-size: 16px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 5px 35px;
    background: #cc8056;
    margin: auto;
    margin-top: 5px;
    display: none;

}

.main_content_page .side_bar_content_page span.desc{
    display: none;
}
.main_content_page .side_bar_content_page.active span.desc{
    display: block;
}
.main_content_page .side_bar_content_page.active  button.delete {
    display: block;
}
.main_content_page .side_bar_content_page.active button.in_basket{

    display: none;

}
.basket_side_bar{
    float: right;
    width: 30%;
    display: inline-block;
}
.basket_side_bar .all_sum{
    margin-top: 10px;
    text-align: center;
    border: 2px solid #4682b4;
    padding: 20px;
    background: #c9ebf2;
    font-size: 20px;
}
.basket_side_bar form{
    display: block;
    margin-top: 10px;
}
.basket_side_bar form input, .basket_side_bar form textarea{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: 17px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
.basket_side_bar form textarea{
    height: 100px;
}
.basket_side_bar form button{
    background: #278c44;
    color: #fff;
    border: 1px solid #278c44;
    margin-top: 10px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}.basket_item{
    height: 100px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}
.basket_item img{
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
}
.basket_item .name_price_ammount {

    position: absolute;
    bottom: 10px;
}

.name_price_ammount {
    left:150px;
}

.name_price_ammount span{
    border: 1px solid #dfc766;
    padding: 5px 20px;
    background: #f0ebcf;
    margin-right: 10px;
}
.name_price_ammount input{

    text-align: center;
    width: 30px;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;

}

.basket_item button{

    position: absolute;
    right: 0px;
    bottom:10px;
    padding:6px;
    width: 100px;
    font-size: 16px;
    background: #cc8056;
    border: 1px solid #cc8056;
    color: white;

}

.basket_list{
    width: 68%;
    max-height: 303px;
    overflow: scroll;
    display: inline-block;
}
.trade_marks section{
    margin-top: 110px;
    position: fixed;
    height: 100%;
    width: 100%;

    background-image: url(trade_marks.jpg);
    background-size: cover ;
}

.trade_marks section h1{
    margin: 0px;
    height: 50px;
    padding: 12px;

    color: white;
    background: #5b9fe0;

    box-sizing: border-box;
    text-align: center;
}

.trade_marks .wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.trade_marks #column-1,
.trade_marks #column-2,
.trade_marks #column-3 {
    float: left;
    min-height: 100%;
    text-align: left;
    padding: 20px;
    box-sizing:border-box ;
    font-size: 16px;
    line-height: 1.2;
}

.trade_marks #column-1 {
    width: 33.333%;
}

.trade_marks #column-2 {
    width: 33.333%;
}

.trade_marks #column-3 {
    width: 33.333%;
}
.trade_marks #column-1 div ,
.trade_marks #column-2 div ,
.trade_marks #column-3 div {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.trade_marks #column-1 div img,
.trade_marks #column-2 div img,
.trade_marks #column-3 div img{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.about section{
    margin-top: 110px;
    position: fixed;
    height: 100%;
    width: 100%;

}
.about section h1{
    margin: 0px;
    height: 50px;
    padding: 12px;

    color: white;
    background: #5b9fe0;

    box-sizing: border-box;
    text-align: center;
}
.about .wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.about #column-1,
.about #column-2,
.about #column-3 {
    float: left;
    min-height: 100%;
    text-align: left;
    padding: 20px;
    box-sizing:border-box ;
    font-size: 16px;
    line-height: 1.2;
}

.about #column-1 {
    width: 33.333%;
}

.about #column-2 {
    width: 33.333%;
}

.about #column-3 {
    width: 33.333%;
}

.about #column-1 div img,
.about #column-2 div img,
.about #column-3 div img{
    width:100%
}
@font-face {
    font-family: Roboto-Regular;
    src:url(./fonts/src/fonts/Roboto-Regular.ttf);
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto-Regular;
}
h1.head{
    margin-top: 120px;
}

body .products{

    padding-bottom: 20px;

}
/*# sourceMappingURL=build.css.map*/