.basket_side_bar{
}
.basket_side_bar .all_sum{
    margin-top: 10px;
    text-align: center;
    border: 2px solid #4682b4;
    padding: 20px;
    background: #c9ebf2;
    font-size: 20px;
}
.basket_side_bar form{
    display: block;
    margin-top: 10px;
}
.basket_side_bar form input, .basket_side_bar form textarea{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: 17px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
.basket_side_bar form textarea{
    resize: vertical;

    height: 100px;
    max-height: 200px;
}
.basket_side_bar form button{
    background: #278c44;
    color: #fff;
    border: 1px solid #278c44;
    margin-top: 10px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

@media screen and (max-width: 700px){

    .basket_side_bar{
        float: none;
        width: 100%;
        display: block;
    }

}